
import(quadprog)
importFrom("stats", "dnorm", "lm", "optim", "runif")

# ------------------------------------------
# Export directives.  
# ------------------------------------------

export(cv.emeth)
export(emeth)

    
